/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 28, 2014, 9:44:08 PM
    Author     : Jannah
*/
body{
    background-color: black;
    font-family: sans-serif;
    /*width: 1000px;*/
}
text{fill:white;
}
.circle, .line{
    /*display:none;*/
}
.point,.guide-line{
    display:block
        ;
}
.guide{
    /*display:none;*/
}
.curve, .line {
    fill: none;
    stroke-width: 1px;
}
.curve {
    /*stroke: red;*/
    stroke-width: .5px;

}
.curve-before{
    stroke:white;
}
.curve-after{
    stroke:red;
}
.control {
    fill: #ccc;
    stroke: #000;
    stroke-width: .1px;
    display:none;

}
.t, .controltext {
    font-size: .6em;
}
#plane-curves{
    width: 1000px;
    height: 600px;
    display: block;
}
#plane-curves-top{
    width: inherit;
    height: 400px;
}
#count-stacked-bar{
    width: inherit;
    height: 100px;
}
#survived-bar{
    fill: green;
}
#died-bar{
    fill: red;
}
.bar-text{
    fill:white;
}
.bar-count{fill:white;padding:0 10px 0 10px;}
.counter-axis {fill:white;font-size:12px;}
#year-text{font-size:20px;}
.tick line{stroke:white;}
.phase-line{
    /*fill:rgba(200,200,200,.7);*/
    stroke:rgba(255,100,100,.7);
}
.phase-text{
    fill: white;
    font-size: 10px;
}
.counter-span{
    color: white;
}
.faded{
    opacity: .5;
}
.point{
    fill: limegreen;
}

#decades-select{
    /* display:inline-block; */
    color:white;
    width:100%;
}
#decades-select table{
    width:100%;
    border: 0;
    padding: 2px;
    text-align: center;
    
}
.selected-decade{
    background-color: rgba(255,255,255,.4);
}
#decades-select li{
    display:inline-block;
    padding:5px;
}
.highlighted-decade{
    background-color: rgba(255,255,255,.1);
}
.decade-span{
    width: 100%;
    
}
.decade-span-selected{
    
}
.died-span{
    height:3px;
    background-color: rgb(255,80,80);
    border: 0;
}
.survived-span{
    height:5px;
    background-color:rgb(80,255,80);
}
