/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 28, 2014, 9:44:08 PM
    Author     : Jannah
*/
.circle, .line{
    /*display:none;*/
}
.point,.guide-line{
    display:block
        ;
}
.guide{
    /*display:none;*/
}
  .curve, .line {
        fill: none;
        stroke-width: 1px;
      }
      .curve {
        stroke: red;
        stroke-width: .5px;
        
      }
      .control {
        fill: #ccc;
        stroke: #000;
        stroke-width: .1px;
        display:none;
        
      }
      .t, .controltext {
        font-size: .6em;
      }